.button {
  padding: 1.5rem 0rem;
  width: 8rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--color-green);
  border-radius: var(--border-rounded);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px solid transparent;
  cursor: pointer;
  &:hover {
    border: 2px solid gray;
  }
}

.buttons {
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}